name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}
        env:
          spring.datasource.driver-class-name: org.postgresql.Driver
          spring.datasource.url: jdbc:postgresql://${{secrets.DB_HOST}}/${{secrets.DB_NAME}}
          spring.datasource.username: ${{secrets.DB_USER}}
          spring.datasource.password: ${{secrets.DB_PASSWORD}}
